body {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 600;
    color: #1D1D1D;
}

ul {
    list-style: none;
    padding: 0;
}

.body {
    max-width: 1220px;
    margin: auto;
}

.image {
    margin: 0 auto;
    width: 17em;
    height: 23.9em;
    background-position: center;
}

.image_logo {
    background-image: url(images/love1.jpg);
}

.image_student {
    background-image: url(images/love2.jpg);
}

.image_captain {
    background-image: url(images/love3.jpg);
}

.image_frodo {
    background-image: url(images/love4.jpg);
}

.image_teacher {
    background-image: url(images/love5.jpg);
}

